pip3 install fastapi
pip3 install uvicorn
pip3 install pandas
pip3 install numpy
pip3 install scikit-learn
pip3 install pydantic
pip3 install python-multipart
pip3 install requests
pip3 install sqlalchemy
pip3 install torch